In [1]:
import numpy as np
import pandas as pd
from google.colab import drive

In [2]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [3]:
zipcode_path = '/content/drive/My Drive/CIS550/zip_code_database.xlsx' # path to demographics dataset
demographics_path = '/content/drive/My Drive/CIS550/cc-est2019-alldata.csv' # path to zip code dataset

In [4]:
zip_data = pd.read_excel(zipcode_path) # import zip code data
dem_data = pd.read_csv(demographics_path, encoding = "ISO-8859-1") # import demographic data

In [5]:
zip_data.head()

   zip      type  ...  longitude irs_estimated_population_2015
0  501    UNIQUE  ...     -73.04                           562
1  544    UNIQUE  ...     -73.04                             0
2  601  STANDARD  ...     -66.72                             0
3  602  STANDARD  ...     -67.18                             0
4  603  STANDARD  ...     -67.15                             0

[5 rows x 15 columns]

In [6]:
print(zip_data.dtypes)
print(zip_data.shape)

zip                                int64
type                              object
decommissioned                     int64
primary_city                      object
acceptable_cities                 object
unacceptable_cities               object
state                             object
county                            object
timezone                          object
area_codes                       float64
world_region                      object
country                           object
latitude                         float64
longitude                        float64
irs_estimated_population_2015      int64
dtype: object
(42632, 15)

In [7]:
dem_data.head()

   SUMLEV  STATE  COUNTY  ... HAAC_FEMALE HNAC_MALE  HNAC_FEMALE
0      50      1       1  ...          11        19           10
1      50      1       1  ...           0         2            1
2      50      1       1  ...           3         2            0
3      50      1       1  ...           1         1            1
4      50      1       1  ...           1         3            1

[5 rows x 80 columns]

In [8]:
print(dem_data.dtypes)
print(dem_data.shape)

SUMLEV          int64
STATE           int64
COUNTY          int64
STNAME         object
CTYNAME        object
                ...
HIAC_FEMALE     int64
HAAC_MALE       int64
HAAC_FEMALE     int64
HNAC_MALE       int64
HNAC_FEMALE     int64
Length: 80, dtype: object
(716376, 80)

In [9]:
# Check which columns in the zip code data contain null values. 
zip_data.isnull().sum().sort_values(ascending = False)

world_region                     42299
acceptable_cities                33609
unacceptable_cities              30314
area_codes                        2934
county                             842
timezone                           714
irs_estimated_population_2015        0
longitude                            0
latitude                             0
country                              0
state                                0
primary_city                         0
decommissioned                       0
type                                 0
zip                                  0
dtype: int64

In [10]:
# Based on the result above, can drop world_region, acceptable_cities, unacceptable_cities, area_codes, and timezone columns since they are not used
zip_data = zip_data.drop(columns=['world_region', 'acceptable_cities', 'unacceptable_cities', 'area_codes', 'timezone'])
zip_data.head()

   zip      type  ...  longitude irs_estimated_population_2015
0  501    UNIQUE  ...     -73.04                           562
1  544    UNIQUE  ...     -73.04                             0
2  601  STANDARD  ...     -66.72                             0
3  602  STANDARD  ...     -67.18                             0
4  603  STANDARD  ...     -67.15                             0

[5 rows x 10 columns]

In [11]:
# Check how many counties in the demographic data don't exist in the zip code data
dem_data = dem_data.assign(CountyExistsInZipTable=dem_data.CTYNAME.isin(zip_data.county))
dem_data_unmatched_zips = dem_data.loc[dem_data['CountyExistsInZipTable'] == False]
dem_data_unmatched_zips = dem_data_unmatched_zips[['STNAME', 'CTYNAME']]
dem_data_unmatched_zips.value_counts(['STNAME', 'CTYNAME']) #counties in the demographic data don't exist in the zip code data

STNAME        CTYNAME
Virginia      Martinsville city       228
              Manassas Park city      228
              Lexington city          228
              Fairfax city            228
              Emporia city            228
              Covington city          228
South Dakota  Oglala Lakota County    228
Louisiana     LaSalle Parish          228
Alaska        Petersburg Borough      228
              Kusilvak Census Area    228
dtype: int64

In [12]:
# Capitalize the first letter of each word in the county names in both the zip code and demographic tables
zip_data['county'] = zip_data['county'].str.title()
dem_data['CTYNAME'] = dem_data['CTYNAME'].str.title()

In [13]:
# Recheck how many counties in the demographic data don't exist in the zip code data
dem_data = dem_data.assign(CountyExistsInZipTable=dem_data.CTYNAME.isin(zip_data.county))
dem_data_unmatched_zips = dem_data.loc[dem_data['CountyExistsInZipTable'] == False]
dem_data_unmatched_zips = dem_data_unmatched_zips[['STNAME', 'CTYNAME']]
dem_data_unmatched_zips.value_counts(['STNAME', 'CTYNAME']) #counties in the demographic data don't exist in the zip code data

STNAME        CTYNAME
Virginia      Manassas Park City      228
              Lexington City          228
              Emporia City            228
              Covington City          228
South Dakota  Oglala Lakota County    228
Louisiana     Lasalle Parish          228
Alaska        Petersburg Borough      228
              Kusilvak Census Area    228
dtype: int64

In [14]:
# Check how these questionable counties appear in the zip code data
contains_Manassas = zip_data['county'].str.contains('Manassas')
contains_Lexington = zip_data['county'].str.contains('Lexington')
contains_Emporia = zip_data['county'].str.contains('Emporia')
contains_Covington = zip_data['county'].str.contains('Covington')
contains_Oglala = zip_data['county'].str.contains('Oglala')
contains_Salle = zip_data['county'].str.contains('Salle')
contains_Petersburg = zip_data['county'].str.contains('Petersburg')
contains_Kusilvak = zip_data['county'].str.contains('Kusilvak')

search_filter = contains_Manassas | contains_Lexington | contains_Emporia | contains_Covington | contains_Oglala | contains_Salle | contains_Petersburg | contains_Kusilvak
zip_data_filtered = zip_data.loc[search_filter, ['state', 'county']]
zip_data_filtered.value_counts()

state  county
SC     Lexington County          16
AL     Covington County          11
LA     La Salle Parish            5
TX     La Salle County            4
VA     Petersburg City            3
       Manassas City              3
MS     Covington County           3
AK     Petersburg Census Area     3
IL     La Salle County            1
dtype: int64

In [15]:
# Check how these questionable counties appear in the demographic code data
contains_Manassas_dem = dem_data['CTYNAME'].str.contains('Manassas')
contains_Lasalle_dem = dem_data['CTYNAME'].str.contains('Lasalle')
contains_Petersburg_dem = dem_data['CTYNAME'].str.contains('Petersburg')

search_filter_dem = contains_Manassas_dem | contains_Lasalle_dem | contains_Petersburg_dem
dem_data_filtered = dem_data.loc[search_filter_dem, ['STNAME', 'CTYNAME']]
dem_data_filtered.value_counts()

STNAME     CTYNAME
Virginia   Petersburg City       228
           Manassas Park City    228
           Manassas City         228
Louisiana  Lasalle Parish        228
Illinois   Lasalle County        228
Alaska     Petersburg Borough    228
dtype: int64

In [16]:
# Replace certain counties in demographic data to align with formatting of zip code data
dem_data['CTYNAME'] = dem_data['CTYNAME'].str.replace('Lasalle Parish','La Salle Parish')
dem_data['CTYNAME'] = dem_data['CTYNAME'].str.replace('Petersburg Borough','Petersburg Census Area')

# Recheck how many counties in the demographic data don't exist in the zip code data
dem_data = dem_data.assign(CountyExistsInZipTable=dem_data.CTYNAME.isin(zip_data.county))
dem_data_unmatched_zips = dem_data.loc[dem_data['CountyExistsInZipTable'] == False]
dem_data_unmatched_zips = dem_data_unmatched_zips[['STNAME', 'CTYNAME']]
dem_data_unmatched_zips.value_counts(['STNAME', 'CTYNAME']) #counties in the demographic data don't exist in the zip code data

STNAME        CTYNAME
Virginia      Manassas Park City      228
              Lexington City          228
              Emporia City            228
              Covington City          228
South Dakota  Oglala Lakota County    228
Alaska        Kusilvak Census Area    228
dtype: int64

In [17]:
# Check how many counties in the zip code data don't exist in the demographic data
zip_data = zip_data.assign(CountyExistsInDemTable=zip_data.county.isin(dem_data.CTYNAME))
zip_data_unmatched_zips = zip_data.loc[zip_data['CountyExistsInDemTable'] == False]
zip_data_unmatched_zips = zip_data_unmatched_zips[['state', 'county']]
zip_data_unmatched_zips.value_counts(['state', 'county']) #counties in the zip code data don't exist in the demographic data

state  county
PR     San Juan Municipio           18
AK     Municipality Of Anchorage    12
       Wade Hampton Census Area     12
PR     San Juan                      9
       Ponce Municipio               7
                                    ..
       Manatí Municipio              1
       Maricao Municipio             1
       Maunabo Municipio             1
       Moca Municipio                1
       Guayanilla Municipio          1
Length: 105, dtype: int64

In [18]:
# Delete rows with Federal districts (aside from Washington DC)
federal_indexes = zip_data[(zip_data['state'] == 'AS') | (zip_data['state'] == 'GU') | (zip_data['state'] == 'MP') |
                           (zip_data['state'] == 'PR') | (zip_data['state'] == 'VI') | (zip_data['state'] == 'FM') |
                           (zip_data['state'] == 'MH') | (zip_data['state'] == 'PW')].index  

# Delete rows with 0 latitude and 0 longitude values
lat0_lon0_indexes = zip_data[(zip_data['latitude'] == 0) & (zip_data['longitude'] == 0)].index 

zip_data.drop(federal_indexes, inplace=True)
zip_data.drop(lat0_lon0_indexes, inplace=True)

print(zip_data.shape)

(41702, 11)

In [19]:
# Recheck how many counties in the zip code data don't exist in the demographic data
zip_data = zip_data.assign(CountyExistsInDemTable=zip_data.county.isin(dem_data.CTYNAME))
zip_data_unmatched_zips = zip_data.loc[zip_data['CountyExistsInDemTable'] == False]
zip_data_unmatched_zips = zip_data_unmatched_zips[['state', 'county']]
zip_data_unmatched_zips.value_counts(['state', 'county']) #counties in the zip code data don't exist in the demographic data

state  county
AK     Municipality Of Anchorage                  12
       Wade Hampton Census Area                   12
       City And Borough Of Juneau                  6
MN     St Louis County                             4
NY     St Lawrence County                          4
LA     St Mary Parish                              3
IN     La Porte County                             2
NM     Dona Ana County                             2
AK     Prince Of Wales-Outer Ketchikan Borough     2
NM     Doã±A Ana County                            2
MO     St Louis County                             1
       St Francois County                          1
NH     Coã¶S County                                1
MD     St Mary'S County                            1
LA     St Tammany Parish                           1
VA     Charles City                                1
LA     St Martin Parish                            1
       St Landry Parish                            1
       St James Parish                             1
       St Bernard Parish                           1
AL     St Clair County                             1
VA     James City                                  1
dtype: int64

In [20]:
# Replace "St" with "St." in the zip code county data
zip_data['county'] = zip_data['county'].str.replace('St ','St. ')

In [21]:
# Recheck how many counties in the zip code data don't exist in the demographic data
zip_data = zip_data.assign(CountyExistsInDemTable=zip_data.county.isin(dem_data.CTYNAME))
zip_data_unmatched_zips = zip_data.loc[zip_data['CountyExistsInDemTable'] == False]
zip_data_unmatched_zips = zip_data_unmatched_zips[['state', 'county']]
zip_data_unmatched_zips.value_counts(['state', 'county']) #counties in the zip code data don't exist in the demographic data

state  county
AK     Wade Hampton Census Area                   12
       Municipality Of Anchorage                  12
       City And Borough Of Juneau                  6
NM     Doã±A Ana County                            2
       Dona Ana County                             2
IN     La Porte County                             2
AK     Prince Of Wales-Outer Ketchikan Borough     2
VA     James City                                  1
       Charles City                                1
NH     Coã¶S County                                1
dtype: int64

In [22]:
# Check how these questionable counties appear in the demographic data
contains_Wade = dem_data['CTYNAME'].str.contains('Wade')
contains_Anchorage = dem_data['CTYNAME'].str.contains('Anchorage')
contains_Juneau = dem_data['CTYNAME'].str.contains('Juneau')
contains_Ana = dem_data['CTYNAME'].str.contains('Ana')
contains_Porte = dem_data['CTYNAME'].str.contains('Porte')
contains_Wales = dem_data['CTYNAME'].str.contains('Wales')
contains_James = dem_data['CTYNAME'].str.contains('James')
contains_Charles = dem_data['CTYNAME'].str.contains('Charles')
contains_Coa = dem_data['CTYNAME'].str.contains('Coa')

search_filter = contains_Wade | contains_Anchorage | contains_Juneau | contains_Ana | contains_Porte | contains_Wales | contains_James | contains_Charles | contains_Coa
dem_data_filtered = dem_data.loc[search_filter, ['STNAME', 'CTYNAME']]
dem_data_filtered.value_counts()

STNAME          CTYNAME
Wisconsin       Juneau County                        228
Minnesota       Wadena County                        228
Alaska          Juneau City And Borough              228
                Prince Of Wales-Hyder Census Area    228
Indiana         Porter County                        228
Louisiana       St. Charles Parish                   228
                St. James Parish                     228
Maryland        Charles County                       228
Mississippi     Coahoma County                       228
Virginia        James City County                    228
Missouri        St. Charles County                   228
New Mexico      Doña Ana County                      228
Oklahoma        Coal County                          228
South Carolina  Charleston County                    228
South Dakota    Charles Mix County                   228
Virginia        Charles City County                  228
Alaska          Anchorage Municipality               228
dtype: int64

In [23]:
# Check how these questionable counties appear in the zip code data
contains_Wade = zip_data['county'].str.contains('Wade')
contains_Anchorage = zip_data['county'].str.contains('Anchorage')
contains_Juneau = zip_data['county'].str.contains('Juneau')
contains_Ana = zip_data['county'].str.contains('Ana')
contains_Porte = zip_data['county'].str.contains('Porte')
contains_Wales = zip_data['county'].str.contains('Wales')
contains_James = zip_data['county'].str.contains('James City')
contains_Charles = zip_data['county'].str.contains('Charles City')
contains_Coajs = zip_data['county'].str.contains('Coã¶S')

zip_data = zip_data.assign(latitude_rounded=zip_data.latitude.round(decimals=0)) #Add a field with rounded latitude values
zip_data = zip_data.assign(longitude_rounded=zip_data.longitude.round(decimals=0)) #Add a field with rounded longitude values

search_filter = contains_Wade | contains_Anchorage | contains_Juneau | contains_Ana | contains_Porte | contains_Wales | contains_James | contains_Charles | contains_Coajs
zip_data_filtered = zip_data.loc[search_filter, ['state', 'county', 'latitude_rounded', 'longitude_rounded', 'irs_estimated_population_2015']]
zip_data_filtered = zip_data_filtered.groupby(['state','county', 'latitude_rounded', 'longitude_rounded']).sum()
zip_data_filtered.head(50)

                                                                                  irs_estimated_population_2015
state county                                  latitude_rounded longitude_rounded
AK    Anchorage Municipality                  61.0             -150.0                                    228760
                                                               -149.0                                     37187
      City And Borough Of Juneau              58.0             -135.0                                      4332
                                                               -134.0                                      3925
      Juneau City And Borough                 58.0             -134.0                                      1930
                                              59.0             -135.0                                     21730
      Municipality Of Anchorage               56.0             -159.0                                        23
                                              61.0             -150.0                                     18436
      Prince Of Wales-Hyder Census Area       55.0             -133.0                                      1759
                                              56.0             -134.0                                        48
                                                               -133.0                                       882
                                                               -132.0                                       517
                                                               -130.0                                        85
      Prince Of Wales-Outer Ketchikan Borough 55.0             -132.0                                       262
                                                               -131.0                                      1140
      Wade Hampton Census Area                62.0             -166.0                                      2268
                                                               -165.0                                       140
                                                               -164.0                                       687
                                                               -163.0                                      1130
                                                               -162.0                                       350
                                                               -161.0                                       274
                                              63.0             -165.0                                      1272
                                                               -164.0                                       530
IN    La Porte County                         42.0             -87.0                                       1653
      Porter County                           41.0             -87.0                                      88857
                                              42.0             -87.0                                      61095
MN    Wadena County                           46.0             -95.0                                       7600
                                              47.0             -95.0                                       6330
NH    Coã¶S County                            44.0             -71.0                                          0
NM    Dona Ana County                         32.0             -107.0                                      1368
      Doã±A Ana County                        32.0             -107.0                                      1348
      Doña Ana County                         32.0             -107.0                                    147388
                                                               -106.0                                       660
                                              33.0             -107.0                                     29110
VA    Charles City                            37.0             -77.0                                        209
      Charles City County                     37.0             -77.0                                       4250
      James City                              37.0             -77.0                                        501
      James City County                       37.0             -77.0                                      89336
WI    Juneau County                           44.0             -90.0                                      23045

In [24]:
# Replace certain counties in zip code data to align with formatting of demographic data, since these counties have similar
# longitude and latitude coordinates as countise that already exist in the demographic data
zip_data['county'] = zip_data['county'].str.replace('Municipality Of Anchorage','Anchorage Municipality')
zip_data['county'] = zip_data['county'].str.replace('City And Borough Of Juneau','Juneau City And Borough')
zip_data['county'] = zip_data['county'].str.replace('Doã±A Ana County','Doña Ana County')
zip_data['county'] = zip_data['county'].str.replace('Dona Ana County','Doña Ana County')
zip_data['county'] = zip_data['county'].str.replace('La Porte County','Porter County')
zip_data['county'] = zip_data['county'].str.replace('Prince Of Wales-Outer Ketchikan Borough','Prince Of Wales-Hyder Census Area')
zip_data['county'] = zip_data['county'].str.replace('La Porte County','Porter County')
zip_data['county'] = zip_data['county'].str.replace(r'^James City$', 'James City County')
zip_data['county'] = zip_data['county'].str.replace(r'^Charles City$','Charles City County')

# Delete "Coã¶S County" rows since it has no population
coajs_indexes = zip_data[zip_data['county'] == 'Coã¶S County'].index
zip_data.drop(coajs_indexes, inplace=True)
print(zip_data.shape)

(41701, 13)

In [25]:
# Recheck how many counties in the zip code data don't exist in the demographic data
zip_data = zip_data.assign(CountyExistsInDemTable=zip_data.county.isin(dem_data.CTYNAME))
zip_data_unmatched_zips = zip_data.loc[zip_data['CountyExistsInDemTable'] == False]
zip_data_unmatched_zips = zip_data_unmatched_zips[['state', 'county']]
zip_data_unmatched_zips.value_counts(['state', 'county']) #counties in the zip code data don't exist in the demographic data

state  county
AK     Wade Hampton Census Area    12
dtype: int64

In [26]:
# Drop the temporary processing fields from the zip code table
zip_data = zip_data.drop(columns=['latitude_rounded', 'longitude_rounded', 'CountyExistsInDemTable'])
zip_data.head(50)

      zip      type  ...  longitude irs_estimated_population_2015
0     501    UNIQUE  ...     -73.04                           562
1     544    UNIQUE  ...     -73.04                             0
194  1001  STANDARD  ...     -72.61                         15220
195  1002  STANDARD  ...     -72.52                         16570
196  1003    PO BOX  ...     -72.52                           184
197  1004    PO BOX  ...     -72.52                           794
198  1005  STANDARD  ...     -72.10                          4270
199  1007  STANDARD  ...     -72.40                         14180
200  1008  STANDARD  ...     -72.93                          1140
201  1009    PO BOX  ...     -72.34                          1238
202  1010  STANDARD  ...     -72.20                          3420
203  1011  STANDARD  ...     -72.98                          1090
204  1012  STANDARD  ...     -72.85                           610
205  1013  STANDARD  ...     -72.60                         18880
206  1014    PO BOX  ...     -72.57                           354
207  1020  STANDARD  ...     -72.57                         25790
208  1021    PO BOX  ...     -72.57                           566
209  1022  STANDARD  ...     -72.54                          1780
210  1026  STANDARD  ...     -72.90                           890
211  1027  STANDARD  ...     -72.68                         16320
212  1028  STANDARD  ...     -72.51                         15330
213  1029    PO BOX  ...     -73.03                           557
214  1030  STANDARD  ...     -72.67                         11010
215  1031  STANDARD  ...     -72.20                          1000
216  1032  STANDARD  ...     -72.81                           470
217  1033  STANDARD  ...     -72.52                          5890
218  1034  STANDARD  ...     -72.86                          1860
219  1035  STANDARD  ...     -72.58                          4620
220  1036  STANDARD  ...     -72.41                          4880
221  1037    PO BOX  ...     -72.20                           779
222  1038  STANDARD  ...     -72.60                          2280
223  1039  STANDARD  ...     -72.70                          1240
224  1040  STANDARD  ...     -72.64                         29750
225  1041    PO BOX  ...     -72.64                          1408
226  1050  STANDARD  ...     -72.88                          2270
227  1053  STANDARD  ...     -72.71                          1520
228  1054  STANDARD  ...     -72.50                          1750
229  1056  STANDARD  ...     -72.48                         18130
230  1057  STANDARD  ...     -72.31                          7600
231  1059    PO BOX  ...     -72.52                            70
232  1060  STANDARD  ...     -72.63                         11260
233  1061    PO BOX  ...     -72.67                           469
234  1062  STANDARD  ...     -72.67                         10090
235  1063    UNIQUE  ...     -72.64                           177
236  1066    PO BOX  ...     -72.66                           402
237  1068  STANDARD  ...     -72.05                          1790
238  1069  STANDARD  ...     -72.32                          7190
239  1070  STANDARD  ...     -72.91                           540
240  1071  STANDARD  ...     -72.85                          1390
241  1072  STANDARD  ...     -72.40                          1350

[50 rows x 10 columns]

In [27]:
# Shorten the demographics table to only the fields needed

# Delete the rows with an age group of 0
age_group_0_indexes = dem_data[dem_data['AGEGRP'] == 0].index
dem_data.drop(age_group_0_indexes, inplace=True)

# Bucket the age groups - 0-19, 20-39, 40-59, 60+
age_bins = [0, 4, 8, 12, 18]
age_labels = ['0-19', '20-39', '40-59', '60+']
dem_data['AGE_BIN'] = pd.cut(x=dem_data['AGEGRP'], bins=age_bins, labels=age_labels)

# Drop the excess fields and temporary processing field
dem_data = dem_data[['STNAME', 'CTYNAME', 'YEAR', 'AGE_BIN', 'TOT_POP', 'TOT_MALE', 'TOT_FEMALE',
                     'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 
                     'AA_MALE', 'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE',
                     'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE']].copy()

# Delete the past year rows (only keep the current year) and then drop the year column (since they're all the same year)
past_year_indexes = dem_data[dem_data['YEAR'] < 12].index
dem_data.drop(past_year_indexes, inplace=True)
dem_data.drop(columns=['YEAR'], inplace=True)

# Group by the age buckets
dem_data = pd.pivot_table(dem_data, index=['STNAME', 'CTYNAME', 'AGE_BIN'], values=['TOT_POP', 'TOT_MALE', 'TOT_FEMALE',
                     'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 
                     'AA_MALE', 'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE',
                     'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE'], aggfunc='sum')

dem_data.reset_index(level=[0, 1, 2], inplace=True)

In [28]:
# Replace state names with abbreviations in the demographics table
state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

dem_data = dem_data.replace({'STNAME': state_abbrev})

In [29]:
# Export the final zip code and demographic tables 
zip_data.to_csv("zip_data.csv", index=False)
dem_data.to_csv("demographic_data.csv", index=False)

In [30]:
from google.colab import files
files.download('zip_data.csv') 
files.download("demographic_data.csv")